:host
{
    color: lightgreen;
    cursor: crosshair;
}
.example-viewport
  {
    height: var(--dialogmax);
    width: 100%;
    max-width: 100%;
  }
.example-item
  {
    height: 24px;
  }
.example-margin {
    margin: 0 10px;
  }
::ng-deep .mat-checkbox-inner-container {
    background-color: red !important;
  }
  
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: green !important;
}