<mat-card  class="example-mat-card">
    <div class="col-2 obok text-success">Osoby</div>
    <div class="col-2 obok"><mat-slide-toggle [(ngModel)]="zalogowany"></mat-slide-toggle></div>
</mat-card>
<mat-card *ngFor="let item of tablicaosoby"  class="example-mat-card">
    <div class="col-2 obok text-success">{{item.imie}} {{item.nazwisko}} ({{item.funkcja}})</div>
    <div class="col-2 obok"><mat-slide-toggle [(ngModel)]="item.zalogowany" (change)="setZalogowany(item, $event)"><span [ngClass]="{'text-success':item.zalogowany, 'text-danger':!item.zalogowany}">{{item.zalogowany ? "Zalogowany" : "Wylogowany"}}</span></mat-slide-toggle></div>
    <div class="col-2 obok"><mat-slide-toggle [(ngModel)]="item.blokada"><span [ngClass]="{'text-success':item.blokada, 'text-danger':!item.blokada}">{{item.blokada ? "dostępny" : "zablokowany"}} </span></mat-slide-toggle></div>
    <div class="col-2 obok"><mat-slide-toggle [(ngModel)]="item.hannah"><span [ngClass]="{'text-success':item.hannah, 'text-danger':!item.hannah}"> Hannah {{item.hannah ? "" : "nie"}}widoczna</span></mat-slide-toggle></div>
    <div class="col-4 obok"><span> Ostatnie logowanie:</span></div>
</mat-card>
<mat-card *ngFor="let item of tablicagoscie"  class="example-mat-card">
    <div class="col-2 obok text-success">{{item.imie}} {{item.nazwisko}} ({{item.funkcja}})</div>
    <div class="col-2 obok"><mat-slide-toggle [(ngModel)]="item.zalogowany" (change)="setZalogowany(item, $event)"><span [ngClass]="{'text-success':item.zalogowany, 'text-danger':!item.zalogowany}">{{item.zalogowany ? "Zalogowany" : "Wylogowany"}}</span></mat-slide-toggle></div>
    <div class="col-2 obok"><mat-slide-toggle [(ngModel)]="item.blokada"><span [ngClass]="{'text-success':item.blokada, 'text-danger':!item.blokada}">{{item.blokada ? "dostępny" : "zablokowany"}} </span></mat-slide-toggle></div>
    <div class="col-2 obok"><mat-slide-toggle [(ngModel)]="item.hannah"><span [ngClass]="{'text-success':item.hannah, 'text-danger':!item.hannah}"> Hannah {{item.hannah ? "" : "nie"}}widoczna</span></mat-slide-toggle></div>
    <div class="col-4 obok"><span> Ostatnie logowanie:</span></div>
</mat-card>