<div class="row">
  <div>  
    <cdk-virtual-scroll-viewport #scrollViewportPolecenia appendOnly itemSize="24"  class="example-viewport" [ngStyle]="{'height': height, 'width': width1}" autosize>
      <div *cdkVirtualFor="let item of tablicazawartosci"  class="example-item" (click)="Wybrany($event)">
        {{item.podstawowe ? '&nbsp;' : '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'}}<span [class]="item.podstawowe == true ? '' : 'text-success'" >{{item.nazwa}}</span>
      </div>
    </cdk-virtual-scroll-viewport>
</div>
<div class="opcje" [ngStyle]="{'height': height, 'width': width2}">
  <mat-card> 
    <mat-card-title>Wybrane polecenie: <span>"{{wybrane}}"</span> </mat-card-title> 
    <mat-card-subtitle> polecenie: <span>"{{wybranepolecenie.nazwa}}"</span> </mat-card-subtitle> 
    <mat-card-subtitle> opis: <span>{{wybranepolecenie.komunikat}}</span> </mat-card-subtitle> 
  </mat-card> 
  <mat-card> 
    <mat-card-title> czy dostępny dla zalogowanych użytkowników:  </mat-card-title>
    <mat-card-content><button  mat-button [class]="wybranepolecenie.zalogowany ? 'text-danger':'text-success'" (click)="ZmienDostep('zalogowany', !wybranepolecenie.zalogowany)" >{{(wybranepolecenie.zalogowany ? 'Nie' : 'Tak')}}</button></mat-card-content>
</mat-card> 
<mat-card> 
  <mat-card-title> czy dostępny dla wylogowanych użytkowników:  </mat-card-title>
  <mat-card-content><button  mat-button  [class]="wybranepolecenie.wylogowany ? 'text-danger':'text-success'" (click)="ZmienDostep('wylogowany', !wybranepolecenie.wylogowany)">{{(wybranepolecenie.wylogowany ? 'Nie' : 'Tak')}}</button>
  </mat-card-content>
</mat-card>
<mat-card> 
  <mat-card-title> czy dostępny dla poszczególnych użytkowników:  </mat-card-title>
  <mat-card-subtitle>
   <div *ngFor="let item of wybraneosoby">{{item.imie}} {{item.nazwisko}} ({{item.funkcja}})
    <button  mat-button [class]="item.dos ? 'text-success' : 'text-danger'" (click)="ZmienOsoba(item.id, !item.dos)" >{{(item.dos ? 'Tak' : 'Nie')}}</button>
   </div>
  </mat-card-subtitle>
  <mat-card-actions> 
    <button  mat-button class="text-success" (click)="ZmienOsoby(true)"> TAK </button> 
    <button  mat-button class="text-danger" (click)="ZmienOsoby(false)"> NIE </button> 
  </mat-card-actions> 
</mat-card>
</div>
</div>


