<div class="ustawienia">
<div class="row">
  <div class="col-1 text-center">
    <button type="button" class="btn btn-outline-success" (click)="collapse.toggle()">
      Start larpa
    </button>
  </div>
  <div class="col-9" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div>
        Uruchamia zegar, ustawia wszystkie wartości startowe.
    <button type="button" class="btn btn-outline-danger" (click)="start_larpa()">
      Start
    </button>
  </div>
  </div>
</div>
</div>
<div class="dialog">
  <cdk-virtual-scroll-viewport #scrollViewportustawienia appendOnly itemSize="24" class="example-viewport-ustawienia" >
    <div *cdkVirtualFor="let item of tablicazawartosci" class="example-item-ustawienia"  >{{item.data}}<span>,&nbsp;{{item.name}} ></span><span [style.color]="item.kolor">&nbsp;{{item.tekst}}</span></div>
  </cdk-virtual-scroll-viewport>
</div>