<div class="row">
  <div class="col-2 text-left text-white">Jest: {{czas_rzeczywisty | date:'yyyy.MM.dd  HH:mm:ss' }}</div>
  <div class="col-2 text-right text-white">(Upłyneło: {{name}}</div>
  <div class="col-2 text-left text-white">{{czas_rzeczywisty_uplyw}})</div>
  <div class="col-1 text-right">Czas na Dedalu:</div>
  <div class="col-2 text-left">{{czas_na_dedalu}}</div>
  <div class="col-1 text-right">(Od startu:</div>
  <div class="col-2 text-left">{{czas_od_startu_uplyw}})</div>
</div>
<button (click)="sendKomunikat()">Click tekst</button>