<div class="row">
  <div>  
    <cdk-virtual-scroll-viewport #scrollViewportModoly appendOnly [itemSize]="32"  class="example-viewport" [ngStyle]="{'height': height, 'width': width1}" autosize>
      <div *cdkVirtualFor="let item of tablicazawartosci, let i = index">
        <div class="example-item-detail" (click)="ZmienWybrany(item.id, i)"><span class="kursor" [ngClass]="{'text-success':(!(ModulWybrany(item.id))), 'text-primary': (ModulWybrany(item.id))}">{{item.nazwa}}</span><span class="kursor"> ({{item.symbol}})</span></div>
        <div class="example-item-detail2"></div>
      </div>
    </cdk-virtual-scroll-viewport>
</div>

<div class="opcje" [ngStyle]="{'height': height, 'width': width2}">
  <mat-card> 
    <mat-card-title>Wybrany Moduł: <span>"{{Nazwa()}}"</span> </mat-card-title> 
    <mat-card-subtitle>symbol: <span>"{{Symbol()}}"</span> </mat-card-subtitle> 
  </mat-card> 
  <mat-card> 
    <mat-card-title>Zespoły znajdujące się w Module</mat-card-title>
      <div class="br"></div>  
      <div>  
        <cdk-virtual-scroll-viewport #scrollViewportZespoly appendOnly itemSize="72"  class="example-viewport" [ngStyle]="{'height': height1, 'width': width2}" autosize>
          <div *cdkVirtualFor="let item of tablicazespoly, let i = index">
            <div class="example-item-detail" (click)="WybranyZespol(i)"><span class="kursor" [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}">{{item.nazwa}}</span><span class="kursor"> ({{item.symbol}})</span></div>
            <div class="example-item-detail1">Ostatni test: <span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}">{{item.czasbadania}} (<span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}"> {{item.stanText}}</span>)</span>(ważny:
              <button mat-icon-button [matMenuTriggerFor]="menuNazwaDP" aria-label="Example icon-button with a menu"><span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}">{{item.przedawnienie}}</span>
                <mat-menu #menuNazwaDP="matMenu" >
                  <button mat-menu-item *ngFor="let item1 of listaczasy,let i = index">
                      <span (click)="ZmienDaneSztuk('przedawnienie',i,item.id)">{{item1}}</span>
                  </button>
                </mat-menu>
              </button>
               [dni]) ; wykonał:<span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}">  {{item.imie}} {{item.nazwisko}}</span>; wykrytych uszkodzeń<span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}"><span [ngClass]="{'text-danger':(item.uszkodzeniailosc!=0)}"> {{item.uszkodzeniailosc}}</span></span> (jest: <span [ngClass]="{'text-danger':(item.jestuszkodzen!=0)}">{{item.jestuszkodzen}})</span></div>
            <div class="example-item-detail1">przybliżone czasy wykonania testu: <button mat-icon-button [matMenuTriggerFor]="menuNazwaDT" aria-label="Example icon-button with a menu"><span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}">{{FormatCzas(item.czaswykonania)}}</span>
              <mat-menu #menuNazwaDT="matMenu" >
                <button mat-menu-item *ngFor="let item1 of listaczasyT,let i = index">
                    <span (click)="ZmienDane('czaswykonania',i,item.id)">{{item1}}</span>
                </button>
              </mat-menu>
            </button> , resetu: <button mat-icon-button [matMenuTriggerFor]="menuNazwaDR" aria-label="Example icon-button with a menu"><span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}">{{FormatCzas(item.czasreset)}}</span><mat-menu #menuNazwaDR="matMenu" >
                <button mat-menu-item *ngFor="let item1 of listaczasyT,let i = index">
                    <span (click)="ZmienDane('czasreset',i,item.id)">{{item1}}</span>
                </button>
              </mat-menu>
            </button> , naprawy: <button mat-icon-button [matMenuTriggerFor]="menuNazwaDN" aria-label="Example icon-button with a menu"><span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}">{{FormatCzas(item.czasnaprawa)}}</span><mat-menu #menuNazwaDN="matMenu" >
              <button mat-menu-item *ngFor="let item1 of listaczasyT,let i = index">
                  <span (click)="ZmienDane('czasnaprawa',i,item.id)">{{item1}}</span>
              </button>
            </mat-menu>
          </button> i ilość elementów: <button mat-icon-button [matMenuTriggerFor]="menuNazwaDE" aria-label="Example icon-button with a menu"><span [ngClass]="{'text-success':(!(i==wybranyzespol)), 'text-primary': (i==wybranyzespol)}">{{item.elementy}} sztuk</span><mat-menu #menuNazwaDE="matMenu" >
            <button mat-menu-item *ngFor="let item1 of listaczasy,let i = index">
                <span (click)="ZmienDaneSztuk('elementy',i,item.id)">{{item1}}</span>
            </button>
          </mat-menu>
        </button></div>
            <div class="example-item-detail2"></div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    
  </mat-card>
  <mat-card> 
    <mat-card-title>Uszkodzenia w Zespole:</mat-card-title>
      <div class="br"></div>  
      <div>  
        <cdk-virtual-scroll-viewport #scrollViewportUszkodzenia appendOnly itemSize="72"  class="example-viewport" [ngStyle]="{'height': height2, 'width': width2}" autosize>
          <div *cdkVirtualFor="let item of tablicauszkodzenia, let i = index">
            <div class="example-item-detail">{{i+1}}. Uszkodzenie: 
              <button mat-icon-button [matMenuTriggerFor]="menuNazwa" aria-label="Example icon-button with a menu"><span class='text-primary kursor'>{{item.nazwauszkdzenia}}</span>
              <mat-menu #menuNazwa="matMenu" >
                <button mat-menu-item *ngFor="let item1 of listauszkodzenia">
                    <span (click)="ZmienStan('nazwa',item1.id,item.id)">{{item1.nazwa}}</span>
                </button>
              </mat-menu>
            </button>; stan: <button mat-icon-button [matMenuTriggerFor]="menuStan" aria-label="Example icon-button with a menu"><span [ngClass]="{'text-danger':(item.idstan!=1)}"> {{item.nazwastan}}</span>
              <mat-menu #menuStan="matMenu" >
                <button mat-menu-item *ngFor="let item1 of listastan">
                    <span [ngClass]="{'text-danger':(item1.stan!=1)}" (click)="ZmienStan('stan',item1.id,item.id)">{{item1.nazwa}}</span>
                </button>
              </mat-menu>
            </button>
            <span class="text-success" *ngIf="item.reset != '0'">; reset od {{FormatCzas(item.sekreset)}}<span class='text-primary kursor' (click)="ZmienStan('reset', 0, item.id)"> skasuj</span></span>
            <span class="text-success" *ngIf="item.naprawa != '0'">; naprawa od {{FormatCzas(item.seknaprawa)}}<span class='text-primary kursor' (click)="ZmienStan('naprawa', 0, item.id)"> skasuj</span></span>
            </div>
            
              <div class="example-item-detail" style="padding-left: 38px;"> Po resecie: 
                <button mat-icon-button [matMenuTriggerFor]="menuCoPR" aria-label="Example icon-button with a menu"><span class='text-primary kursor'>{{item.poreset == 1 ? 'zmien' : 'nie nie rób'}}</span>
                  <mat-menu #menuCoPR="matMenu" >
                    <button mat-menu-item><span (click)="ZmienStan('poreset', 0, item.id)">nie nie rób</span></button>
                    <button mat-menu-item><span (click)="ZmienStan('poreset', 1, item.id)">zmien</span></button>
                  </mat-menu>
                  </button><span *ngIf="item.poreset == 1"> na:
                  <button mat-icon-button [matMenuTriggerFor]="menuNazwaPR" aria-label="Example icon-button with a menu"><span class='text-primary kursor'> {{item.nazwaporeset}}</span>
                  <mat-menu #menuNazwaPR="matMenu" >
                    <button mat-menu-item *ngFor="let item1 of listauszkodzenia">
                        <span (click)="ZmienStan('nazwaporeset',item1.id,item.id)">{{item1.nazwa}}</span>
                    </button></mat-menu>
                  </button>; stan: 
                  <button mat-icon-button [matMenuTriggerFor]="menuStanPR" aria-label="Example icon-button with a menu"><span [ngClass]="{'text-danger':(item.idstanporeset!=1)}"> {{item.nazwastanporeset}}</span>
                    <mat-menu #menuStanPR="matMenu" >
                      <button mat-menu-item *ngFor="let item1 of listastan">
                          <span [ngClass]="{'text-danger':(item1.stan!=1)}" (click)="ZmienStan('stanporeset',item1.id,item.id)">{{item1.nazwa}}</span>
                      </button>
                    </mat-menu>
                  </button>
                  </span>
              </div>
            
              <div class="example-item-detail" style="padding-left: 27px;">Po naprawie: 
                <button mat-icon-button [matMenuTriggerFor]="menuCoPN" aria-label="Example icon-button with a menu">
                  <span class='text-primary kursor'>{{item.ponaprawa == 1 ? 'zmien' : 'nie nie rób'}}</span>
                  <mat-menu #menuCoPN="matMenu">
                    <button mat-menu-item><span (click)="ZmienStan('ponaprawa', 0, item.id)">nic nie rób</span></button>
                    <button mat-menu-item><span (click)="ZmienStan('ponaprawa', 1, item.id)">zmien</span></button>
                  </mat-menu>
                  </button><span *ngIf="item.ponaprawa == 1"> na:
                <button mat-icon-button [matMenuTriggerFor]="menuNazwaPN" aria-label="Example icon-button with a menu"><span class='text-primary kursor'> {{item.nazwaponaprawa}}</span>
                <mat-menu #menuNazwaPN="matMenu" >
                  <button mat-menu-item *ngFor="let item1 of listauszkodzenia">
                      <span (click)="ZmienStan('nazwaponaprawa',item1.id,item.id)">{{item1.nazwa}}</span>
                  </button></mat-menu>
                </button>; stan: <button mat-icon-button [matMenuTriggerFor]="menuStanPN" aria-label="Example icon-button with a menu"><span [ngClass]="{'text-danger':(item.idstanponaprawa!=1)}"> {{item.nazwastanponaprawa}}</span>
                  <mat-menu #menuStanPN="matMenu" >
                    <button mat-menu-item *ngFor="let item1 of listastan">
                        <span [ngClass]="{'text-danger':(item1.stan!=1)}" (click)="ZmienStan('stanponaprawa',item1.id,item.id)">{{item1.nazwa}}</span>
                    </button>
                  </mat-menu>
                </button>
              </span>
            </div>

            <div class="example-item-detail2"></div>
          </div>
        
        </cdk-virtual-scroll-viewport>
      </div>
    
  </mat-card>
</div>
</div>


