:host
{
    font-size: 18px;
    color: lightgreen;
    cursor: crosshair;
}
div.row
{
    margin: 0;
}
.informacje
{
    display: block;
    overflow-y: hidden;
    overflow-x: hidden; 
    border-bottom: 2px solid rgb(57, 71, 255);
}
.nawigacja
{
    display: block;
}

