:host
{
    color: lightgreen;
    cursor: crosshair;
}
.zalaczone
    {
        animation-name: mrugaj;
        animation: mrugaj 800ms linear infinite;
    }
    @keyframes mrugaj
    {
        0% { color: rgb(172, 0, 0); }
        30% { color: red; }
        60% { color: white; }
        80% { color: red; }
        100% { color:  rgb(172, 0, 0); }
    }  
