<div>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-pills" (shown)="Changed($event)">
  <li [ngbNavItem]="1" >
    <a ngbNavLink >Komunikaty</a>
    <ng-template ngbNavContent>
      <app-dialog>
      
      </app-dialog>
    </ng-template>
  </li>
  <li [ngbNavItem]="2" >
    <a ngbNavLink >Ustawienia</a>
    <ng-template ngbNavContent>
      <app-ustawienia>

      </app-ustawienia>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Użytkownicy</a>
    <ng-template ngbNavContent>
      <app-uzytkownicy>

      </app-uzytkownicy>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Wiadomości</a>
    <ng-template ngbNavContent>
      <app-wiadomosci>

      </app-wiadomosci>
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink>Uszkodzenia</a>
    <ng-template ngbNavContent>
      <app-testy>
        
      </app-testy>
    </ng-template>
  </li>
  <li [ngbNavItem]="6">
    <a ngbNavLink>Notatki</a>
    <ng-template ngbNavContent>
      <app-notatki>
        
      </app-notatki>
    </ng-template>
  </li>
  <li [ngbNavItem]="7">
    <a ngbNavLink>Polecenia</a>
    <ng-template ngbNavContent>
      <app-polecenia>
        
      </app-polecenia>
    </ng-template>
  </li>
  <li [ngbNavItem]="8">
    <a ngbNavLink [ngClass]="{'zalaczone' : zakladka[8]}">Zdarzenia</a>
    <ng-template ngbNavContent>
      <app-zdarzenia>
        
      </app-zdarzenia>
    </ng-template>
  </li>
  <li [ngbNavItem]="9">
    <a ngbNavLink [ngClass]="{'zalaczone' : zakladka[9]}">Polecenia Dedala</a>
    <ng-template ngbNavContent>
      <app-poleceniadedal>
        
      </app-poleceniadedal>
    </ng-template>
  </li>
  <li [ngbNavItem]="10">
    <a ngbNavLink>Moduły</a>
    <ng-template ngbNavContent>
      <app-moduly>
        
      </app-moduly>
    </ng-template>
  </li>

</ul>


<div [ngbNavOutlet]="nav"  class="mt-1"></div>
</div>

