:host
{
    color: lightgreen;
    cursor: crosshair;
    font-size: 16px;
}
.ustawienia
{
    display: block;
}
.button2
{
  padding: 1px 3px 1px 3px;
  margin: 0px 6px 6px 0px;
  width: 120px;
  height: 32px;
}
.mat-card
{
    background: black;
    color: lightgreen;
}  
.mat-card 
{
    border: 1px solid silver;
    padding: 6px;
}
.mat-card:hover
{
    border: 1px solid yellow;
}
.mat-card-subtitle
{
    background: inherit;
    color: inherit;  
}
.obok
{
  display: inline-block;
}
.male
{
  font-size: 12px;
}
button
{
  padding: 1px 3px 1px 3px;
  width: 100px;
  height: 26px;
}
.example-mat-card
{
    background: black;
    color: lightgreen;
    border: 0px solid silver;
    padding: 3px;
}
.example-mat-card:hover
{
 
  border: 0px solid yellow;
}
