  <mat-card class="mat-card">
    <mat-card-title>Sygnał teta</mat-card-title>
    <mat-card-subtitle>
      [Załączenie]: zalogowani nie mogą wykonać żadnego polecenia (działa jak wyloguj w Użytkownicy)
                    wylogowani dopiero po zalogowaniu      
    </mat-card-subtitle>
    <mat-card-actions align="end">
      <div class="example-button-row">
        <button type="button" class="btn btn-danger" (click)="setTeta(true)"> Załącz </button>
        <button type="button" class="btn btn-success" (click)="setTeta(false)"> Wyłącz </button>  
      </div> 
     </mat-card-actions>
  </mat-card>
  