:host
{
    color: lightgreen;
    cursor: crosshair;
    font-size: 16px;
}
.ustawienia
{
    display: block;
}
button
{
  padding: 1px 3px 1px 3px;
  margin: 0px 6px 6px 0px;
  width: 120px;
  height: 32px;
}
.mat-card
{
    background: black;
    color: lightgreen;
}  
.mat-card 
{
    border: 1px solid silver;
    padding: 6px;
}
.mat-card:hover
{
    background: rgb(42, 42, 42);  
    border: 1px solid yellow;
}
.mat-card-subtitle
{
    background: inherit;
    color: inherit;  
}
.obok
{
  display: inline-block;
}
.male
{
  font-size: 12px;
}


