<div class="row" >
  <div>
    <div [ngStyle]="{'width': width, 'min-width': width, 'height': height, 'min-height': height}">
      <div *ngFor="let item of tablicaosoby; let i = index"  class="example-mat-card, text-success">
        <mat-slide-toggle (toggleChange)="Przelacz(i,item.wybrany)" [(ngModel)]="item.wybrany" ><span [ngClass]="{'text-warning': PolecenieIlosc(item.id,i) != 0}">{{item.imie}}&nbsp;{{item.nazwisko}}</span></mat-slide-toggle>
      </div>
  <div class="example-item-detail2"></div>
  <div class="text-primary"> Czas Wykonania:</div>
  <button mat-icon-button [matMenuTriggerFor]="menuNazwaCW" aria-label="Example icon-button with a menu"><span>&nbsp;&nbsp;{{FormatCzas(czaswykonania)}}</span>
        <mat-menu #menuNazwaCW="matMenu" >
          <button mat-menu-item *ngFor="let item1 of listaczasyT,let i = index">
              <span (click)="ZmienDane(i)">{{item1}}</span>
          </button>
        
        </mat-menu>
      </button>
  </div>
  <div>
    <mat-slide-toggle (toggleChange)="Przewijaj()" [(ngModel)]="checked" (change)="onClick('slide-toggle')"><span [ngClass]="{'text-success':checked, 'text-danger':!checked}">{{ checked ? "przewijaj" : "nie przewijaj"}}</span></mat-slide-toggle>
  </div>
  </div>
  
  <div>
    <cdk-virtual-scroll-viewport #scrollViewportDedal appendOnly [itemSize]="64" minBufferPx="200" maxBufferPx="400" class="example-viewport" [ngStyle]="{'width': width1, 'min-width': width1,'height': height}" autosize>
      <div *cdkVirtualFor="let item of tablicapolecenia, let i=index"  class="example-item, text-success" >
        <div class="example-item-detail1 kursor" (click)="Zaznacz(item)"><span [ngClass]="ZaznaczoneWS(item)">{{item.czaswykonania}}</span> <span [ngClass]="ZaznaczoneWP(item)"> {{item.osobaText}}</span> (z: {{item.terminal}}) polecenie: <span [ngClass]="ZaznaczoneWP(item)"><span>{{Polecenie(item)}}</span></span>
        </div>
        <div class="example-item-detail2">
          <span *ngIf="item.odpowiedz">
          <span><span class="text-primary kursor" (click)="Odpowiedz(item,i,'nieznane polecenie','info')"> [nieznane]</span></span>
          <span><span class="text-primary kursor" (click)="Odpowiedz(item,i,'nie rozumiem','info')"> [nie rozumiem]</span></span>
          <span><span class="text-primary kursor" (click)="Odpowiedz(item,i,'odmowa wykonania','info')">  [odmowa]</span></span>
          <span><span class="text-primary kursor" (click)="Odpowiedz(item,i,'nie masz uprawnień','info')">  [brak uprawnień]</span></span>
          <span><span class="text-light kursor" (click)="Odpowiedz(item,i,'potrzebuję dodatkowe dane:','modul')">  [moduł]</span></span>
          <span><span class="text-danger kursor" (click)="Odpowiedz(item,i,'nie znaleziono modułu','info')">  [-brak]</span></span>
          <span><span class="text-light kursor" (click)="Odpowiedz(item,i,'potrzebuję dodatkowe dane:','zespol')">  [zespół]</span></span>
          <span><span class="text-danger kursor" (click)="Odpowiedz(item,i,'nie znaleziono zespołu','info')">  [-brak]</span></span>
          <span><span class="text-light kursor" (click)="Odpowiedz(item,i,'potrzebuję dodatkowe dane:','element')">  [element]</span></span>
          <span><span class="text-danger kursor" (click)="Odpowiedz(item,i,'nie znaleziono elementu','info')">  [-brak]</span></span>
          </span>
          <span class="text-primary" *ngIf="!item.odpowiedz">odpowiedż: {{item.odpowiedzText}} ({{item.odpowiedzTresc}})</span>
        </div>
        <div class="example-item-detail2">
          <span *ngIf="item.odpowiedz">
          <span><span class="text-success kursor" (click)="Odpowiedz(item,i,'wykonuję','info')">  [wykonuję]</span></span>
          <span><span class="text-success kursor" (click)="OdpowiedzOK(item,i,'wykonuję','info')">  [OK po: {{FormatCzas(czaswykonania)}}]</span></span>
          <span><span class="text-danger kursor" (click)="OdpowiedzERROR1(item,i,'wykonuję','info')">  [problem po: {{FormatCzas(czaswykonania)}}]</span></span>
          <span><span class="text-danger kursor" (click)="OdpowiedzERROR2(item,i,'wykonuję','info')">  [niepowodzenie po: {{FormatCzas(czaswykonania)}}]</span></span>
          </span>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  
  </div>
  
  <div>
  <app-linia-polecen class="linia-komend"  [ngStyle]="{'height': wysokoscLinia +'px', 'max-height': wysokoscLinia +'px'}">
  </app-linia-polecen>
  </div>
  </div>
  
  
  