<div [ngStyle]="{'width': width +'px', 'max-width': width +'px'}">
  <div class="btn btn-primary">Załoga On</div>
  <div *ngFor="let item of tablicaosobyOn, let i = index"  class="example-mat-card">
    <div [class]="{'text-success':item.zalogowany, 'text-muted' : !item.zalogowany, 'wybrany' : (wybrany == item.id)}" (click)="Wybrany(tablicaosobyOn,i)"><span class="kursor">&nbsp;<span class="liniakomend">{{item.imie}}</span>&nbsp;<span class="liniakomend">{{item.nazwisko}}</span></span><span class="male">&nbsp;&nbsp;({{item.funkcja}})</span></div>
  </div>
  <div class="btn btn-primary">Załoga Off</div>
  <div *ngFor="let item of tablicaosobyOff, let i = index"  class="example-mat-card">
    <div [class]="{'text-success' : item.zalogowany, 'text-muted' : !item.zalogowany, 'wybrany' : (wybrany == item.id)}" (click)="Wybrany(tablicaosobyOff,i)"><span class="kursor">&nbsp;<span class="liniakomend">{{item.imie}}</span>&nbsp;<span class="liniakomend">{{item.nazwisko}}</span></span><span class="male" >&nbsp;&nbsp;({{item.funkcja}})</span></div>
  </div>
  <div class="btn btn-primary">Dodatkowe</div>
  <div *ngFor="let item of tablicaosobyInni, let i = index"  class="example-mat-card">
    <div [class]="{'text-success' : item.zalogowany, 'text-muted' : !item.zalogowany, 'wybrany' : (wybrany == item.id)}" (click)="Wybrany(tablicaosobyInni,i)"><span class="kursor">&nbsp;<span class="liniakomend">{{item.imie}}</span>&nbsp;<span class="liniakomend">{{item.nazwisko}}</span></span></div>
  </div>
  </div>
  