:host
{
    color: lightgreen;
    cursor: crosshair;
}
.male
{
    font-size: 14px;
}
.kursor
{
  cursor: pointer;
}
.niewybrany
{
  border: 1px solid black;
}
.wybrany
{
  border: 1px solid yellow;
}
.odstep
{
  height: 10px;
  min-height: 10px;
}
.odstepmin
{
  height: 5px;
  min-height: 5px;
}
.btn
{
  width: 110px;
}
.zmien
{
  width: 90px;
  height: 22px;
  padding: 0px;
  border: 0px;
}
.zmienW
{
  width: 90px;
}

